body {
  background-color: #f2f2f2;
}

* {
  font-family: "Lato", "Helvetica Neue", sans-serif;
}

.btn-standard {
  background-color: #ff3366;
  color: white;
}

.btn-standard:hover {
  background-color: #fc285d;
  color: white;
}

.rotate {
  animation: rotateButton 1.5s fade-out infinite;
}

@keyframes rotateButton {
  0% {
    opacity: 0.4;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
